<div class="ui-g">
  <p-toast></p-toast>
  <p-panel header="Ventas" [style]="{width: '90%', margin: '0 auto'}">

    <p-table [value]="ventas" [columns]="cols" [paginator]="true" [rows]="10" >
      <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns">{{col.header}}</th>
              <!-- <th>Opciones</th> -->
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-ventas let-columns="columns">
          <tr>

              <!-- <td *ngFor="let col of columns"> {{ ventas[col.fields] }} </td> -->
              <td *ngFor="let col of columns" >
                <span *ngIf="col.fields === 'fecha'; then thenTemplateName else elseTemplateName"></span>
                <ng-template #thenTemplateName>{{ ventas[col.fields] | date: 'dd/MM/yyyy'}}</ng-template>
                <ng-template #elseTemplateName>{{ ventas[col.fields]}}</ng-template>
              </td>
              <!-- <td *ngFor="let col of columns"> {{ col.fields === 'fecha' ? ventas[col.fields]  : ventas[col.fields] }} </td> -->
              <!-- <td>
                <button pButton type="button" label="Vender" class="p-button-primary" (click)="handleClickVender(medicamento.id)"></button>
                <button pButton type="button" label="Editar" class="p-button-warning" (click)="handleClickEditar(medicamento.id)"></button>
                <button pButton type="button" label="Borrar" class="p-button-danger" (click)="handleClickEliminar(medicamento.id)"></button>
              </td> -->
          </tr>
      </ng-template>
    </p-table>
  </p-panel>
</div>
